<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354208268501-druf995kukhcctlm0umnjsa736gpsdm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354208268501-druf995kukhcctlm0umnjsa736gpsdm4</string>
	<key>API_KEY</key>
	<string>AIzaSyCUU32gb3gwjzdC0zU9obtOMq1LdwLnahM</string>
	<key>GCM_SENDER_ID</key>
	<string>354208268501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.summerLabo.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-3d1ba</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-3d1ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354208268501:ios:646549d6fed0276ad8225c</string>
</dict>
</plist>